.settingsNavbar ul li a{
    padding : 10px;
    display:block;
}

.settingsNavbar ul li a:hover{
    color : blue;
    background-color: lightgrey;
    text-indent: 10px;
    text-decoration: none;
}

.settingsNavbar ul li {
    list-style-type: none;
}

.theme {
    height : 150px;
    margin : 5px;
    cursor: pointer;
}

.settingsBckgrnd {
    background: rgba(255,255,255,0.5);
}