<div class="col-md-12 ">
    <div class="panel item-title-box clearfix non-static" ng-repeat="activityLog in acVm.data">
        <img class= "col-md-3 img-circle img-height img-responsive" ng-src="{{activityLog.detail}}" ng-if="activityLog.detail">
        <img class= "col-md-3 img-circle img-height img-responsive" ng-src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" ng-if="!activityLog.detail">
        <div class="col-md-4 fa fa-thumbs-up text-align"> {{activityLog.activity}}</div>
        <div class="col-md-4 center-vertical">{{activityLog.content}}</div>
        <div class="col-md-1 btn-group pull-right" dropdown dropdown-append-to-body>
            <button type="button" class="btn dropdown-toggle" dropdown-toggle>
                <i class="fa fa-globe"></i>
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="settings">Settings</a></li>
                <li><a ui-sref="profile">Profile</a></li>
                <li><a ng-click="acVm.hide($index)">Hide</a></li>
                <li><a><share-item data="{name: activityLog.activity}" label="true"></share-item></a></li>

            </ul>
        </div>
    </div>
</div>