<h2>Welcome to Notifications Page</h2>
<div class="col-md-12 clearfix">
    <div class="panel panel-default" ng-repeat="not in notificationVm.data">
        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>
        <span class="pull-right clickable" data-effect="fadeOut" ng-click="notificationVm.close($index)"><i class="fa fa-times"></i></span>
        <span class = "panel panel-heading">{{not.contentName}}</span>
        <div class = "panel panel-body">{{not.contentNews}}</div>
    </div>
</div>