<div class="col-md-12 clearfix">
    <div class="notifications margin10 clearfix" ng-repeat="not in notificationVm.data">
        <div class="col-xs-1 fa fa-bell-o fa-2x" aria-hidden="true"></div>
        <div class="col-xs-10">
            <div> <strong>{{not.contentName}}</strong></div>
            <div ng-switch on="notificationVm.isArray(not.content)">
                <div ng-switch-when="false">{{not.content}}</div>
                <div ng-switch-when="true">
                    <div ng-repeat="person in not.content">
                        <div>
                            {{person.name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-1 text-right" ng-click="notificationVm.close($index)">
            <i class="fa fa-times fa-2x"></i>
        </div>
        <div>
            <img src={{not.img}} class="img-responsive"/>
        </div>
    </div>
</div>