<div class="container">
    <div class="col-md-12">
        <div class="col-md-3 panel">
            <nav>
                <a href="#"><span>Menu</span></a>
                <div class="settingsNavbar">
                    <ul>
                        <li><a ui-sref="settings.account" class="fa fa-home"> Account</a></li>
                        <li><a ui-sref="settings.privacy" class="fa fa-globe"> Security and Privacy</a></li>
                        <li><a ui-sref="settings.orderHistory" class="fa fa-cog"> Order history</a></li>
                        <li><a ui-sref="settings.theme" class="fa fa-power-off"> Theme</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-1">

        </div>
        <div ui-view class="col-md-8 panel">

        </div>
    </div>
</div>