<div class="row">
    <div class="margin10n0 item-title-box clearfix col-sm-12">
        <div class="col-sm-2 margin10n0 text-center paddingTop10 pointer">
            <span ng-click="hc.addNewItem()" class="fa fa-plus fa-lg">  Add new item</span>
        </div>
        <div class="col-sm-10 margin10n0">
            <input type="text" class="form-control" placeholder="Search Text" ng-model="searchFilter">
        </div>
    </div>
</div>
<div ng-repeat="item in hc.itemList | filter: searchFilter" class="clearfix lineItem">
    <div class="row">
        <div class="margin10n0 item-title-box clearfix col-sm-12">
            <div class="col-sm-9" ng-switch on="hc.editableItem[$index]">
                <div ng-switch-when="false" class="col-sm-9">
                    <span class="pointer">{{item.name}}</span>
                </div>
                <div ng-switch-when="true" class="col-sm-9">
                    <input type="text" class="form-control" ng-model="item.name">
                </div>
            </div>
            <div class="col-sm-3 clearfix fa-lg text-center margin0auto">
                <div title="Refresh" class="col-xs-2 margin5n0 pointer fa fa-refresh "></div>
                <div ng-if="!hc.editableItem[$index]" title="Edit" class="col-xs-2 margin5n0 pointer fa fa-pencil"
                     ng-click="hc.editableItem[$index] = true"></div>
                <div ng-if="hc.editableItem[$index]" title="Edit" class="col-xs-2 margin5n0 pointer fa fa-check"
                     ng-click="hc.editableItem[$index] = false"></div>
                <div title="Delete" class="col-xs-2 margin5n0 pointer fa fa-trash"
                     ng-click="hc.deleteItem($index)"></div>
                <div title="Toggle View" class="col-xs-2 margin5n0 pointer fa fa-toggle-on"
                     ng-click="hc.toggleView($index, $event)"></div>
                <div title="Settings" class="col-xs-2 margin5n0 pointer fa fa-cog"></div>
                <div title="Settings" class="col-xs-2 margin5n0 pointer fa fa-star"></div>
            </div>
        </div>
    </div>
    <div class="row resultsContainer">
        <div class="col-md-12">
            <div ng-repeat="res in item.results | limitTo: 4 | filter: searchFilter">
                <div class="col-md-6 padding10 overflow-hidden">
                    <div class="result-box padding10 white">
                        <span class="content">{{res.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
